// /* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~nouislider/distribute/nouislider.min.css";
// @import "~nouislider/distribute/nouislider.min.css";


// body {
//     background-image: url("https://www.wallpapersin4k.org/wp-content/uploads/2017/04/Airplane-Full-HD-Wallpaper-9.jpg")
// }

/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/css?family=Poppins|Nunito");
@import "~nouislider/distribute/nouislider.min.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-image: url("https://www.wallpapersin4k.org/wp-content/uploads/2017/04/Airplane-Full-HD-Wallpaper-9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  font-family: 'Nunito', sans-serif;
}

